@import "../../../variables";

.page-wrapper {
    width: 90%;
    max-width: 1150px;
    display: grid;
    margin: 0 auto;
    padding: 1rem 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "first second third"
        "forth forth forth";
    grid-template-rows: auto auto;
    gap: 1rem;
    align-content: flex-start;
    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "first second"
            "forth third";
        .forth-section {
            .image-wrapper {
                max-width: none;
                margin: 0;
            }
            .flex-wrapper__gray {
                flex-direction: column;
                max-width: none;
            }
        }
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "first"
            "second"
            "third"
            "forth";
        width: 95%;
    }
}

.image-title {
    @include image-title;
}

.first-section,
.second-section,
.third-section,
.flex-wrapper__gray,
.fifth-section,
.sixth-section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-section {
    grid-area: first;
}

.second-section {
    grid-area: second;
    color: #fff;
    background-color: lighten(map-get($colors, main), 20%);
}

.third-section {
    grid-area: third;
}

.forth-section {
    grid-area: forth;
    color: #fff;
    .flex-wrapper__gray {
        max-width: 900px;
    }
    .image-wrapper {
        max-width: 350px;
        margin-right: 1rem;
    }
}

.fifth-section {
    grid-area: fifth;
}

.sixth-section {
    grid-area: sixth;
}

.flex-wrapper__gray {
    background-color: lighten(map-get($colors, main), 20%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
}
