@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import "./variables";
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: unset;
  @media screen and (max-height: 670px) {
    font-size: 15px;
  }
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Comfortaa, Verdana, Geneva, sans-serif;
  box-sizing: border-box;
  // /* overflow-x: hidden; */
}

#root {
  height: 100%;
  // overflow-x: hidden;
}

* {
  box-sizing: border-box;
  /* Works on Firefox */
  // scrollbar-color: #808080 #272626;
  /* scrollbar-width: thin; */
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.MuiLink-root {
  font-family: "Comfortaa", sans-serif !important;
  font-weight: 600 !important;
}

// /* Works on Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
//   width: 1rem;
// }

// *::-webkit-scrollbar-track {
//   background: #272626;
// }

// *::-webkit-scrollbar-thumb {
//   background-color: #808080;
// }

.carousel-inner {
  height: 100%;
}

.carousel {
  @media screen and (min-width: 900px) {
    .carousel-control-next,
    .carousel-control-prev {
      visibility: hidden;
    }
    &:hover {
      .carousel-control-next,
      .carousel-control-prev {
        visibility: visible;
      }
    }
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 10%;
  // z-index: 2;
}

// .link {
//   text-align: right;
//   font-weight: 700;
//   margin-right: 2rem;
//   text-decoration: underline;
//   color: #5799ef;
// }

// .caption {
//   margin-top: 2rem;
//   color: black;
//   font-weight: 700;
//   text-align: center;
// }

.container1 {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
}

.drawer {
  .MuiDrawer-paper,
  .accordion {
    background: map-get($colors, main) !important;
    color: #fff;
  }

  .MuiDrawer-paper {
    justify-content: center;
  }

  .accordion {
    box-shadow: none;
    width: 100%;
    svg {
      fill: #fff;
    }
  }
  @media screen and (max-width: 370px) {
    .MuiDrawer-paper {
      width: 90%;
    }
    .drawer-box {
      width: 100%;
    }
  }
}

.without-arrows {
  .carousel-control-next,
  .carousel-control-prev {
    visibility: hidden !important;
  }
}

.without-indicators {
  .carousel-indicators {
    display: none;
  }
  .carousel-caption {
    left: 10%;
    right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    max-width: 1350px;
    margin: 0 auto;
    z-index: 2;
    bottom: 10%;
    @media screen and (max-width: 1000px) {
      justify-content: end;
    }
  }
}

.header-meader {
  min-height: 12rem;
  position: relative;
  z-index: 3;
  background-color: lighten(map-get($colors, main), 10%);
}

.gallery-caption-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 5.5rem;
  background-image: linear-gradient(
    lighten(map-get($colors, main), 80%),
    lighten(map-get($colors, main), 50%),
    lighten(map-get($colors, main), 35%),
    lighten(map-get($colors, main), 25%),
    lighten(map-get($colors, main), 18%),
    lighten(map-get($colors, main), 10%),
    map-get($colors, main)
  );
  background: linear-gradient(to bottom, transparent, map-get($colors, main));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  h3 {
    max-width: 1250px;
    width: 90%;
  }
}

.caption-holder {
  position: absolute;
  z-index: 3;
  bottom: -1rem;
  transform: translateX(1rem);
  width: fit-content;
  max-width: 90%;
  padding: 1rem;
  padding-bottom: 2.5rem;
  background-color: goldenrod;
  color: white;
  // animation: moveInLeft 1s ease-out;
  h3 {
    animation: moveInRight 1s ease-out;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.image-title {
  @include image-title;
}

.image-wrapper {
  overflow: hidden;
  height: 100%;
  img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
  }

  &:hover {
      cursor: pointer;
  }

  max-height: 450px;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}

// p {
//   margin-top: 0;
//   margin-bottom: 1rem;
// }

// .fake-footer {
//   background: transparent;
//   height: 151px;
//   pointer-events: none;
// }

// .modal-open {
//   padding-right: 0 !important;
//   overflow: auto !important;
// }

// #root {
//   margin-bottom: var(--footer-height);
// }
