@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import './variables';
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  /* Works on Firefox */
  scrollbar-color: #808080 #272626;
  /* scrollbar-width: thin; */
  margin: 0;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: #272626;
}

*::-webkit-scrollbar-thumb {
  background-color: #808080;
}

.carousel-inner {
  height: 100%;
}

.carousel-caption {
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 1350px;
  margin: 0 auto;
  z-index: 2;
  bottom: 10%;
}

.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}

.link {
  text-align: right;
  font-weight: 700;
  margin-right: 2rem;
  text-decoration: underline;
  color: #5799ef;
}

.caption {
  margin-top: 2rem;
  color: black;
  font-weight: 700;
  text-align: center;
}

.container1 {
  max-width: 1350px;
  margin: 0 auto;
}

button {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: 700;
  background-color: transparent;
  color: white;
  border-color: transparent;
  text-align: left;
  transition: none;
  border: 2px solid white;
  .button-content {
    background-image: linear-gradient(map-get($colors, links), map-get($colors, links));
    background-position: center bottom;
    background-repeat: no-repeat;
    transition: background-size 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    background-size: 0 1px;
  }


}

button:hover {
  // background-color: lighten(map-get($colors, main), 5%);
  color: map-get($colors, links);
  border-color: map-get($colors, links);
  .button-content {
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    background-size: 100% 2px;
    color: map-get($colors, links);
  }
}


.navigation a span:hover {

}

.carousel-indicators {
  display: none;;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}