@import "../../../variables";
.dropdown-items {
    display: block !important;
    padding: 0;
    border: 0px solid transparent;
}

.dropdown-menu {
    background-color: map-get($colors, main);
    border-radius: 0;
    border: 1px solid #4a4a4a;
    padding: 0 0.5rem;
    transform: translate3d(0px, 2.33rem, 0px) !important;
}

.dropdown-item span {
    background-image: linear-gradient(map-get($colors, secondary), map-get($colors, secondary));
    background-position: center bottom;
    background-repeat: no-repeat;
    text-decoration: none;
    padding-bottom: 2px;
    background-size: 0 2px;
}

.dropdown-item {
    border-bottom: 1px solid #4a4a4a;
    padding: 0.5rem;
    padding-right: 1.5rem;
    font-size: 0.9rem;
    &:active {
        background-color: inherit;
    }
    &:hover,
    &:focus {
        background-color: lighten(map-get($colors, main), 2%);
        span,
        a {
            color: map-get($colors, secondary);
        }
        span {
            background-size: 100% 2px;
        }
    }
}

.dropdown-item--last {
    border-bottom: none;
}
