@import '../../../variables';
.editor-wrapper {
    a {
        color: map-get($colors, links);
        text-decoration: underline;
    }
}


.toggle-buttons {
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e3dddd;
    margin-bottom: 0.3rem;
    background-color: #fff;
}