h4 {
    font-size: 1.3rem !important;
}

.leaflet-popup-content p {
    font-size: 12.5px;
    margin-top: 0;
    margin-bottom: 0.8rem;
}
.leaflet-popup-content-wrapper {
    overflow: auto;
}
.leaflet-popup-content img {
    margin-bottom: 5px;
}

.leaflet-popup-content .btn {
    width: 100%;
    margin-bottom: 5px;
}

.leaflet-popup-content {
    margin: 22px 24px 13px 20px;
}

.leaflet-popup-scrolled {
    border: none;
    padding-right: 5px;
    margin-right: 10px;
    margin-bottom: 14px;
}

.leaflet-popup-content,
.leaflet-popup-scrolled {
    @media screen and (max-width: 410px) {
        width: 200px !important;
    }
}

.leaflet-container a.leaflet-popup-close-button {
    padding: 0px 26px 0 0;
}

.leaflet-container {
    cursor: default;
}

.leaflet-routing-container.leaflet-bar.leaflet-routing-container-hide.leaflet-control {
    display: none;
}
/* scroll bars !only for Google Chrome and Edge */

//   /* width */
//   .leaflet-popup-scrolled::-webkit-scrollbar,
//   .sidenav::-webkit-scrollbar {
//     position: absolute;
//     width: 5px;
//   }

//   /* Track */
//   .leaflet-popup-scrolled::-webkit-scrollbar-track,
//   .sidenav::-webkit-scrollbar-track {
//     margin: 15px;
//     background: #f1f1f1;
//   }

//   /* Handle */
//   .leaflet-popup-scrolled::-webkit-scrollbar-thumb,
//   .sidenav::-webkit-scrollbar-thumb {
//     background: #888;
//   }
