@import "../../../variables";
.aside {
    display: contents;
    grid-row: 1;
    grid-column: 1 / -1;
    @media screen and (max-width: 800px) {
        .body {
            h3 {
                text-align: center;
            }
            padding-top: 2rem;
            border-top: 2px solid lighten(map-get($colors, main), 60%);
            grid-row: 3;
            grid-column: 1 / -1;
            a {
                margin: 0 auto;
            }
        }
    }
}

.body {
    grid-row: 2;
    grid-column: 5 / 7;
    margin: 2rem 2rem 2rem 4rem;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (max-width: 1200px) {
        margin: 2rem;
    }

    @media screen and (max-width: 1250px) {
        grid-column: 5 / 8;
    }
}

.heading {
    color: map-get($colors, links);
}
