@import "../../variables";
.home {
    grid-column: 1 / -1;
    height: 100%;
}

.header {
    grid-row: 1;
    grid-column: 1 / -1;
    background-color: map-get($colors, main);
    min-height: 5.5rem;
    color: #fff;
    ul {
        margin: 0;
    }
    li {
        list-style: none;
    }

    .header-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        padding: 2rem;
        margin: 0 auto;
    }
}

.header--white {
    background-color: #fff;
    color: #000;
}

.section1 {
    height: 100%;
    max-height: 750px;
    position: relative;
    background-color: #fff;
}

.section--dark {
    background-color: map-get($colors, main);
}

.text-container {
    line-height: 1.7rem;
    p:first-child {
        &:first-letter {
            font-family: "Philosopher", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
                Geneva, Verdana, sans-serif;
            float: left;
            font-size: 6.2em;
            line-height: 0.8em;
            font-weight: 900;
            padding-right: 0.1em;
        }
    }
}

.cards-wrapper1 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 6.5rem);
    max-height: calc(750px - 6.5rem);
}

.card-wrapper--first-section {
    height: calc(100% - 10rem);
    max-height: calc(750px - 10rem);
}

.card1 {
    margin: 10px;
    flex: 1 1 0px;
}

.card2 {
    margin: 20px;
    flex: 1 1 0px;
    height: 500px;
}

.delimiter {
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 0.1rem;
    width: 100%;
    left: 0;
    right: 0;
    max-width: 1200px;
    margin: 0 auto;
}

.delimiter--white {
    border-bottom: 1px solid white;
    position: absolute;
    bottom: 0.1rem;
    width: 100%;
    left: 0;
    right: 0;
    max-width: 1200px;
    margin: 0 auto;
}

