@import '../../../../variables';

.post-content {
    line-height: 1.7rem;
    p:first-child {
        &:first-letter {
            font-family: "Philosopher", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
                Geneva, Verdana, sans-serif;
            float: left;
            font-size: 6.2em;
            line-height: 0.8em;
            font-weight: 900;
            padding-right: 0.1em;
        }
    }
}

.image-title {
    @include image-title;
}

.name-cell {
    text-align: left !important;
    width: calc(29% - 3.2rem) !important;
    @media screen and (max-width: 600px) {
        width: calc(60% - 3.2rem) !important;
    }
}

.years-cell {
    width: calc(15% - 3.2rem) !important;
    @media screen and (max-width: 600px) {
        width: calc(40% - 3.2rem) !important;
    }
}

.header__text--name-title {
    justify-content: center;
}

.header__text--years-old-title {
    margin-top: -0.8rem;
}

.responsive-cell {
    .row-inner:last-child {
        font-weight: bolder;
    }
    width: calc(28% - 3.2rem) !important;
    @media screen and (max-width: 700px) {
        display: none !important;
    }
}
