.table-wrapper {
  margin: 1rem auto;
  width: 100%;
  max-width: 1000px;
  p {
    margin: 0;
  }

  img {
    object-position: top;
  }
}

.image-wrapper {
  min-width: 50px;
  width: 100px;
  height: 150px;
  float: left;
  margin: 0.2rem 1rem 0rem 0rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0);
  border-radius: 5px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: top;
}

.header__text-subtitle {
  text-align: left !important;
  font-size: 0.6rem;
  margin-top: -0.8rem;
}

.sorted-cell {
  display: flex;
  align-items: center;
}

.row__content-heading {
  margin-bottom: 0.4rem;
}

.row__content-dates {
  margin-bottom: 0.4rem;
}

.row__content-body {
  &:first-letter {
    font-size: 150%;
    font-weight: 900;
    font-style: italic;
  }
}

.header-cell {
  height: 60px !important;
}

.expander-cell {
  width: 3.2rem !important;
  max-width: 3.2rem !important;
  padding: 0.8rem 0.5rem !important;
  border-right: 1px solid #eee !important;
}

.header-cell-subtitle {
  padding: 27px 1rem 5px 1rem !important;
}

.table-pagination {
  background: #eee !important;
}

.table-container {
  height: 523px !important;
  width: 100% !important;
  overflow-x: auto !important;
}
